body {
    transform: scale(0.8);
    transform-origin: top center;
    margin-bottom: 0;
}

div {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 300%;
}

#group {
    width: 40vw;
}

#button {
    font-size: 200%;
    line-height: 0;
}

.grid {
    grid-template-columns: 1fr;
}

article {
    width: 40vw;
    margin-bottom: 0;
}

article img {
    margin-right: 18px;
    height: 40px;
}
